.white-logo{
  max-height: 40px;
}
nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  position: sticky;
}

.navbar-bckground-color {
  background-color: #5977b3;
}

.navbar-button-logout-color {
  background-color: #b8c2d5;
}

body {
  background-color: #d5dff0;
}

.card {
  background-color: #b8c2d5;
}
