<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

=======
>>>>>>> 93897b7 (creación de index, carpetas:sections,assets,js. Movimiento de aboutus.html y aboutus.css)
=======
>>>>>>> 73187d7 (editamos navbar)
=======
/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

>>>>>>> 154d2d2 (integrando navbar a about-us y perfiles)
.white-logo{
  max-height: 40px;
}
nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.navbar-bckground-color {
  background-color: #5977b3;
}

.navbar-button-logout-color {
  background-color: #b8c2d5;
}

body {
  background-color: #d5dff0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  font-family: 'Roboto', sans-serif;
=======
>>>>>>> 93897b7 (creación de index, carpetas:sections,assets,js. Movimiento de aboutus.html y aboutus.css)
=======
>>>>>>> 73187d7 (editamos navbar)
=======
  font-family: 'Roboto', sans-serif;
>>>>>>> 154d2d2 (integrando navbar a about-us y perfiles)
}

.card {
  background-color: #b8c2d5;
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 154d2d2 (integrando navbar a about-us y perfiles)

/* html,
body {
  height: 100%;
} */
/* 
.container {
  height: 100%;
}
 */
.cardText {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
<<<<<<< HEAD
=======

html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

.cardText {
  font-size: 18px;
>>>>>>> bf76e43 (ci: about us features)
=======
>>>>>>> 154d2d2 (integrando navbar a about-us y perfiles)
}

.profileImg {
  border-radius: 50%;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0f2064b (Merging developer and about-us)
=======
>>>>>>> 154d2d2 (integrando navbar a about-us y perfiles)
  
}
p , h5{
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD

=======
>>>>>>> 93897b7 (creación de index, carpetas:sections,assets,js. Movimiento de aboutus.html y aboutus.css)
=======
}
>>>>>>> bf76e43 (ci: about us features)
=======
>>>>>>> 73187d7 (editamos navbar)
=======
/* Navbar */

:root {
  --fondo1: #f1f6f9;
  --headers: #5977b3;
  --letra: #212a3e;
  --botones: #b8c2d5;
  --fondo2: #d5dff0;
}

>>>>>>> 154d2d2 (integrando navbar a about-us y perfiles)
