<<<<<<< HEAD
/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

=======
>>>>>>> 93897b7 (creación de index, carpetas:sections,assets,js. Movimiento de aboutus.html y aboutus.css)
.white-logo{
  max-height: 40px;
}
nav {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.navbar-bckground-color {
  background-color: #5977b3;
}

.navbar-button-logout-color {
  background-color: #b8c2d5;
}

body {
  background-color: #d5dff0;
<<<<<<< HEAD
  font-family: 'Roboto', sans-serif;
=======
>>>>>>> 93897b7 (creación de index, carpetas:sections,assets,js. Movimiento de aboutus.html y aboutus.css)
}

.card {
  background-color: #b8c2d5;
}
<<<<<<< HEAD
<<<<<<< HEAD

/* html,
body {
  height: 100%;
} */
/* 
.container {
  height: 100%;
}
 */
.cardText {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
=======

html,
body {
  height: 100%;
}

.container {
  height: 100%;
}

.cardText {
  font-size: 18px;
>>>>>>> bf76e43 (ci: about us features)
}

.profileImg {
  border-radius: 50%;
<<<<<<< HEAD
  
}
p , h5{
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}


=======
>>>>>>> 93897b7 (creación de index, carpetas:sections,assets,js. Movimiento de aboutus.html y aboutus.css)
=======
}
>>>>>>> bf76e43 (ci: about us features)
