:root {
  --fondo1: #f1f6f9;
  --headers: #5977b3;
  --letra: #212a3e;
  --botones: #b8c2d5;
  --fondo2: #d5dff0;
}

/* Botones de navbar */
.bi-house:hover:before {
  content: "Inicio";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-person-square:hover:before {
  content: "Perfil";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-chat-text:hover:before {
  content: "Chat";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-question-square:hover:before {
  content: "Nosotrxs";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-box-arrow-left:hover:before {
  content: "Cerrar sesión";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}

body {
  background-color: var(--fondo2);
}

/* Chat */

.btn {
  font-weight: 700;
  background-color: var(--headers);
}

ul {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
}

li {
  list-style: none;
  text-decoration: none;
}

li a {
  text-decoration: none !important;
}

.text-lg-start {
  padding-left: 1rem;
}

.time-chat-custom {
  font-size: 14px;
  padding-left: 50px;
  margin: 0;
}

.inbox-time-custom {
  text-align: end;
}

.border-inbox-custom {
  border: 8px solid var(--fondo1);
  border-radius: 18px;
  background-color: var(--fondo2);
}

/* .card-body li:hover {
  background-color: var(--fondo2);
  border-radius: 14px;
} */

.scrollable {
  height: 550px;
  overflow-y: auto;
}

.chatContainerScroll {
  max-height: 500px;
  overflow-y: auto;
}

.list-group-item.active {
  background-color: var(--fondo2);
  border-radius: 5px;
}

/* Media Querie */

@media (max-width: 767px) {
  .border-inbox-custom {
    border: 0px solid var(--fondo1);
    border-radius: 8px;
    border-bottom-left-radius: 0px;
  }

  body {
    background-color: var(--fondo1);
  }

  .scrollable {
    height: 180px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .chat-custom {
    background-color: var(--fondo2);
  }

  #chatContainer {
    background-color: var(--fondo1);
    padding: 10px;
    padding-bottom: 5px;
  }

  #sendMessageBtn {
    background-color: var(--headers) !important;
    color: var(--fondo1);
  }

  /*  .chat-custom {
    display: none;
  } */
}
