:root {
  --fondo1: #f1f6f9;
  --headers: #5977b3;
  --letra: #212a3e;
  --botones: #b8c2d5;
  --fondo2: #d5dff0;
}

body {
  background-color: var(--fondo2);
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: black;
}
/* Navbar */
/* Botones de navbar */
.bi-house:hover:before {
  content: "Inicio";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-person-square:hover:before {
  content: "Perfil";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-chat-text:hover:before {
  content: "Chat";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-question-square:hover:before {
  content: "Nosotrxs";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}
.bi-box-arrow-left:hover:before {
  content: "Cerrar sesión";
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
}

/*--------------Linea del tiempo-----------------*/
.main-section {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  margin-bottom: 15%;
}

.box {
  border-radius: 10px;
  background-color: var(--headers);
  padding: 5px;
  width: 100%;
  height: 100%;
  display: inline-table;
}
.intern-box-border{
  border-radius: 5px;
	border: 2px solid #f1f6f9;
}

.box-bookmark{
  float: right;
  height: 40px;
  margin-right: 5%;
} 
.box-folder-badge{
  position: relative;
}

.box-name {
  font-family: "Roboto", sans-serif;
  margin: 0.5rem;
  font-size: 1rem;
  align-items: center;
  text-align: center;   
  justify-content: center; 
   
}

.box-title{

  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: bold;
  
  text-align: center;
  /* margin: 3px; */
}

.box-interaction{
  color: #FFFFFF;
  font-family: "Montserrat";
}

.box-container:hover .box {
  transition: 400ms;
  box-shadow: 0px -10px 20px var(--letra);
  background-color: var(--letra);
  
}

/* Media Querie */
@media (max-width: 600px) {
  .main-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer */
.footerLogo {
  max-width: 100%;
  max-height: 30px;
  height: auto;
  margin-top: 12px;
  margin-right: 10px;
}

.footer {
  background-color: #5977b3;
  padding: 8px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.footerLogo {
  max-width: 100%;
  height: auto;
  margin-right: 10px;
}

h6 {
  padding-right: 10px;
  margin-top: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.thanks,
.rights {
  font-family: "Roboto", sans-serif;

  color: white;
  margin: 0;
  padding-top: 10px;
  line-height: 1;
}
.rights {
  font-size: 10px;
}
.thanks {
  font-size: 15px;
}

.contact-icons {
  padding-left: 12px;
  display: flex;
  gap: 10px;
}

.contact-icons a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .left-section {
    justify-content: center;
    margin-bottom: 10px;
  }

  .right-section {
    text-align: center;
  }
}

@media (max-width: 991px) and (max-height: 930px) {
  .footer {
    display: none;
  }
}
