
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    /* background: #F1F6F9; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-top: -110px;
  padding-top: 100px;
	object-fit: cover;
  }
  


.titlesSec { /* Carta derecha */
	color:white;
	font-weight: bold;
	margin: 0;
	padding: 10px;
  font-size: 32px;
}
.overlay-panel h1 { /* Carta izquierda */
	color:#212A3E;
	font-weight: bold;
	margin: 0;
	padding: 10px;
  font-size: 32px;
}
h2 {
	text-align: center;

}

.messSec {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

#passFor {
	color: white;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#signInButton, #signUpButton, #iniciar, #registrar, #iniciar2, #registrar2 { /* boton iniciar */
	border-radius: 20px;
	border:none;
	background-color: #B8C2D5;
	color: #212A3E;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	box-shadow: #212A3E 2px 2px 4px;
}

#signInButton:active, #signUpButton:active, #iniciar:active, #registrar:active, #iniciar2:active, #registrar2:active {
	transform: scale(0.95);
}

#signInButton:focus, #signUpButton:focus, #iniciar:focus, #registrar:focus, #iniciar2:focus, #registrar2:focus {
	outline: none;
}

#registrar.ghost, #iniciar.ghost, #iniciar2.ghost, #registrar2.ghost { /*boton regístrarse */
	box-shadow: #212A3E 2px 2px 4px;
	background-color: #5977B3;
}

form {
	background-color: #5977B3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.formInput { 
	background-color: #F1F6F9;
	border: none;
	padding: 4px 4px;
	margin: 8px 0;
	width: 87%;
	border-radius: 4px;
}
.container-fluid {
    /* background-color: #212A3E; */
    background-color: #5977B3;
    border-radius: 0px;
    box-shadow: 0 14px 28px #212A3E,
        0 10px 10px rgba(0, 0, 0, 0.993);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    min-height: 580px;
}


/* .form-container { */
/* 	position: absolute; */
/* 	top: 0; */
/* 	height: 100%; */
/* 	transition: all 0.6s ease-in-out; */
/* 	width: 100%; */
/* } */

/* .sign-in-container { */
/* 	left: 0; */
/* 	width: 50%; */
/* 	z-index: 2; */
/* } */

/* .container-fluid.right-panel-active .sign-in-container { */
/* 	transform: translateX(100%); */
/* } */

/* .sign-up-container { */
/* 	left: 50%; */
/* 	width: 50%; */
/* 	opacity: 1; */
/* 	z-index: 1; */
/* } */

/* .container-fluid.right-panel-active .sign-up-container { */
/* 	transform: translateX(100%); */
/* 	opacity: 1; */
/* 	z-index: 5; */
/* 	animation: show 0.6s; */
/* } */

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay-container2 {
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	height: 50%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay-container3 {
	position: absolute;
	bottom: 50%;
	left: 0%;
	width: 100%;
	height: 50%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}


.container-fluid.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.container-fluid.up-panel-active .overlay-container2{
	transform: translateY(-100%);
}

.overlay {
	background: #D5DFF0;
	background: -webkit-linear-gradient(to right, #D5DFF0 , #D5DFF0 );
	background: linear-gradient(to right, #D5DFF0 , #D5DFF0 );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #212A3E;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay2 {
	background: #D5DFF0;
	background: -webkit-linear-gradient(to right, #D5DFF0 , #D5DFF0 );
	background: linear-gradient(to right, #D5DFF0 , #D5DFF0 );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #212A3E;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateY(0);
	transition: transform 0.s ease-in-out;
}

.overlay3 {
	background: #D5DFF0;
	background: -webkit-linear-gradient(to right, #D5DFF0 , #D5DFF0 );
	background: linear-gradient(to right, #D5DFF0 , #D5DFF0 );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #212A3E;
	position: relative;
	left: 0%;
	height: 100%;
	width: 200%;
  	transform: translateY(0);
	transition: transform 0.2s ease-in-out;
}

.container-fluid.right-panel-active .overlay {
  	transform: translateX(50%);
}

.container-fluid.up-panel-active .overlay2 {
  	transform: translateX(50%);
    /* left: 0%; */
}

.container-fluid.up-panel-active .overlay3 {
  	transform: translateY(100%);

}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-panel2 {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.overlay-up {
	transform: translateX(0%);
  /* opacity: 0; */
}

.container-fluid.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

/* Password Rules */

.userPasswordContainer, .userCohorteContainer, .userEmailContainer, .userNameContainer {
  width: 100%;
}

/* #userName_info {transform: translate(60%, 0%) }
#userEmail_info {transform: translate(60%, 0%) }
#userCohorte_info {transform: translate(60%, 0%) }
#pswd_info {transform: translate(60%, 0%) } */

#pswd_info, #userName_info, #userEmail_info, #userCohorte_info {
 position:absolute;
  /* bottom:20%; */
 /* bottom:250px; */
 /* bottom: -115px\9;  */
/* right:55px; */
 width:250px;
 padding:15px;
 background:#fefefe;
 font-size:.775em;
 border-radius:5px;
 box-shadow:0 1px 3px #ccc;
 border:1px solid #ddd;
}
#pswd_info h4, #userName_info h4, #userEmail_info h4, #userCohorte_info h4 {
 margin:0 0 10px 0;
 padding:0;
 font-weight:normal;
  font-size: 125%;
}
#pswd_info::before, #userName_info::before, #userEmail_info::before, #userCohorte_info::before {
 content: "\25B2";
 position:absolute;
 top:-12px;
 left:45%;
 font-size:14px;
 line-height:14px;
 color:#ddd;
 text-shadow:none;
 display:block;
}
.invalid {
 background:url("../img/icons/invalid.png") no-repeat 0 50%;
 padding-left:22px;
 line-height:22px;
 color:#ec3f41;
}
.valid {
 background:url("../img/icons/valid.png") no-repeat 0 50%;
 padding-left:22px;
 line-height:24px;
 color:#3a7d34;
}

ul, li {
 margin:0;
 padding:0;
 list-style-type:none;
}
#pswd_info, #userName_info, #userEmail_info, #userCohorte_info {
 display:none;
}


/*-------------  Sign In --------------------------*/

.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}

.greencross
{
  font-size:18px;
      color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}
.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
  text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.blue-cross
{
  font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.warning
{
      font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}

.alert-simple.alert-danger
{
  padding: 15px;
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.danger
{
      font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

.alert-simple.alert-primary
{
  border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #00040a;
  transition:0.5s;
  cursor:pointer;
}

.alert-primary:hover{
  background-color: rgba(1, 204, 220, 0.33);
   transition:0.5s;
}

.alertprimary
{
      font-size: 18px;
    color: #03d0ff;
    text-shadow: none;
}



.alert:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
      height: 20px;
}

.fa-times
{
-webkit-animation: blink-1 2s infinite both;
	        animation: blink-1 2s infinite both;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
