/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Botones de navbar */
.bi-house:hover:before {
    content: "Inicio";
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
  }
  .bi-person-square:hover:before {
    content: "Perfil";
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
  }
  .bi-chat-text:hover:before {
    content: "Chat";
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
  }
  .bi-question-square:hover:before {
    content: "Nosotrxs";
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
  }
  .bi-box-arrow-left:hover:before {
    content: "Cerrar sesión";
    text-align: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 500 !important;
  }

body {
  background-color: #f1f6f9;
  font-family: 'Roboto', sans-serif;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/* Tarjeta Nombre */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .8rem;
    /* margin-bottom: 1.5rem; */ /* Se ajusta la tarjeta con el contenedor */
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}  

.profile-img{ 
    text-align: center;
    width: 200px; /* Ajusta el tamaño del contenedor según tus necesidades */
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
/* contenedor de la imagen */
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile-img .file {
    position: relative; /* Para que de click en cambiar foto */
    overflow: hidden;
    /* margin-top: -35%; *//* cambiar posicion de change photo */
    margin-top: -55%;
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    background: #212529b8;
    display: flex;
    align-items: center;
    transition: 0.6s;
    flex-direction: column;
    opacity:0;
}
.file:hover {
    opacity: 1;
    top: -15%;
    

}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #212a3e;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    justify-content: center;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #212a3e; /* color letra de publicaciones y guardados */
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:4px solid #465b89; /* color de la barrita */
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #212a3e;
}
h5{
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
#hseis{
    font-size: 23px;
    color: #212a3e; 
    text-align: justify"
}

#info{
    font-size: 18px;
    color: #465b89; 

}
#cohorte , #week, #line{
    font-size: 15px;
    color: #465b89;
}

#center-button{
    display: flex;
        justify-content: center;
}
#perfilFriends{
    padding: 3px 10px;
}

#searchInput{
    width: 300px;
}