* {
  margin: 0;
  padding: 0;
}

html body {
  height: 100%;
  /* overflow: hidden; */
}

/* Fondo principal */
.gradient-custom {
  /* fallback for old browsers */
  background: #d5dff0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(241, 246, 249, 1),
    rgba(213, 223, 240, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(241, 246, 249, 1),
    rgba(213, 223, 240, 1)
  );
}

.margenes {
  margin: 15px;
}

/*--------------------------- Seccion del lado izquierdo --------------*/

/*Fondo lado izquierdo*/
h4 {
  padding-top: 20px !important;
}
.text-black {
  color: var(--fondo1) !important;
  text-align: center;
  padding-bottom: 10px;
}
.mask-custom-right {
  background-color: var(--headers);
  height: 100%;
  padding: 10px;
}

/* Cajas del lado izquierdo donde se coloca el texto de los eventos*/
.pt-1 {
  background: #d5dff0;
  border-radius: 5%;
  text-align: center;
  max-width: 100px;
  width: 100%;
}
/* Cajas del lado izquierdo donde se colocan las imagenes */
.card-body img {
  border-radius: 5%;
  max-height: 100px;
  height: 100%;
}

.events-custom {
  height: 68vh;
  padding: 10px;
}

.list-animation {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  visibility: visible;
}

.blink-me {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/*--------------------------- Seccion del lado derecho --------------*/
.mask-custom {
  background: rgba(213, 223, 240, 1);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
}

.tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}



/*-------------------Anidando Elementos------------------------------*/
.container {
  margin: 0 auto;
}

.post__container {
  margin-bottom: 20px;
}

.post__card {
  display: flex;
  padding-top: 30px;
}

.post__card input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}

.wall__container {
  padding: 10px;
  overflow: auto;
  padding-bottom: 0;
  max-width: 1000px;
  max-height: 650px;
  border-radius: 10px;
  text-align: left;
}

.post-container {
  margin-bottom: 20px;
  /* border: 2px solid #5977b3; */
  padding: 10px;
  background-color: var(--fondo1);
  border-radius: 30px;
}

.post-text {
  font-family: "Roboto", sans-serif;
  animation: fadeIn 0.5s ease-in-out;
  padding: 10px;
  font-weight: 450;
  font-size: 18px;
  color: var(--headers);
}
.reply-text {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  font-size: 15px;
  animation: fadeIn 1s ease-in-out;
  color: var(--headers);
}

.reply__form {
  position: sticky; /* Quitar */
  bottom: 0; /* Quitar */
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.reply__form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 5px;
  padding: 5px;
}

.reply-btn {
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  background-color: var(--fondo2);
  color: var(--headers);
  font-weight: 700;
  border: 2px solid var(--headers);
}

.reply__text {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#post-input {
  border-radius: 5px;
  padding: 5px;

  /*  animation: fadeIn 1s ease-in-out; */
}

#add-post-btn {
  border-radius: 5px;
  border: none;
  background-color: var(--headers);
  color: var(--fondo1);
  border: 2px solid var(--botones);
  font-weight: 700;
  /* animation: fadeIn 1s ease-in-out; */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.post-content {
  display: flex;
  align-items: center;
  background-color: var(--headers);
  border-radius: 30px;
  margin: 8px;
}
.reply-content {
  display: flex;
  align-items: center;
  background-color: var(--fondo2);
  border-radius: 30px;
  margin: 8px;
}
/*  Estilos para mi header del post*/

.post-name {
  flex-grow: 1;
  color: var(--fondo1);
  font-size: 18px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  padding-left: 8px;
}

.post-date {
  margin-left: auto;
  color: var(--fondo1);
  font-size: 14px;
  padding-right: 20px;
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 425;
}

/* Reply styles */

.reply-name {
  flex-grow: 1;
  color: var(--headers);
  font-size: 18px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  padding-left: 8px;
}

.reply-date {
  margin-left: auto;
  color: var(--headers);
  font-size: 14px;
  padding-right: 20px;
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 425;
}
